@font-face {
    font-family: 'Gilroy-Light';
    src: url('../assets/fonts/Gilroy-Light.otf');
    font-style: normal;
}

:root {
    font-family: 'Gilroy-Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
}